* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#drum-machine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: aqua;
}

.displayWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-right: 30px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px 40px;
  font-size: 20px;
  width: 180px;
  color: white;
}

#pad_bank {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding-left: 30px;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: bisque;
}
